html 
    head 
        title Capsule 
    body 
        div 
            h1 Capsule 
            ul 
                li Trending 
                li 
                    a(href='/years') Years 
                li My Account 
        block content