html 
    head 
        title Capsule 
    body 
        div 
            h1 Capsule 
            ul     
                li 
                    a(href='/years') Years 
                if loggedIn
                    li 
                        a(href=`/profile/${uid}`) My Account 
                    li 
                        a(href='/logout') Logout
                else 
                    li 
                        a(href='/login') Login
                    li 
                        a(href='/register') Register
                
        block content