html 
    head 
        title Capsule 
    body 
        div.navBar   
            h1 Capsule 
            ul     
                li 
                    a(href='/years') Years 
                if loggedIn
                    li 
                        a(href=`/profile/${uid}`) My Account 
                    li 
                        a(href='/logout') Logout
                else 
                    li 
                        a(href='/login') Login
                    li 
                        a(href='/register') Register
        
        style.

            .navBar {
                display: flex;
            }
            
            .navBar ul {
                display: flex;
            }

            li {
                list-style-type: none;
                text-decoration: none;
            }

            li a {
                text-decoration: none;
            }
                        
                    
                
        block content