html 
    head 
        title Capsule 
    body 
        div.navBar   
            h1 
                a(href='/') Capsule 
            ul     
                li 
                    a(href='/years') Browse years 
                if loggedIn
                    li 
                        a(href=`/profile/${uid}`) My Account 
                    li 
                        a(href='/logout') Logout
                else 
                    li 
                        a(href='/login') Login
                    li 
                        a(href='/register') Register

        style.
            @import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
            @import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');

            body {
                background-color: #f5f5f5;
                margin: 0 auto;
                padding-top: 80px;
            }

            h1 {
                font-family: "SUSE", sans-serif;
            }

            p {
                font-family: "SUSE", sans-serif;
            }

            .navBar {
                display: flex;
                align-items: center;
                justify-content: space-between;
                background-color: #f5f5f5;
                box-shadow: 0px 1px 10px #495ad1;
                position: fixed;
                top: 0;
                width: 100vw;
                z-index: 999;
            }

            .navBar h1 {
                margin-top: 0px;
                margin-bottom: 0px;
                font-family: "Audiowide", sans-serif;
                color: #495ad1;
                text-transform: uppercase;
                padding-left: 30px;
            }

            .navBar ul {
                display: flex;
                gap: 1rem;
                padding-right: 30px
    
            }

            li {
                list-style-type: none;
               padding-inline: 10px;

            }

            li a {
                text-decoration: none;
                color: #495ad1;
                font-family: "SUSE", sans-serif;
                font-weight: 600;
                font-size: 16px;
            }

            .navBar a {
                text-decoration: none;
                color: #495ad1;
            }

    block content
