extends layout 
block content 

    h1 Hurricane Sandy 

    p A devastating storm that hit the U.S. East coast in october 2012, This affected 
    parts of canada and several carribean nations.Creating hybrid storm.


    p Avy Ruslip
    p @Avylip